body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;

}
#page {
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-areas:
        "head head"
        "nav  main"
        "foot foot";
    grid-template-rows: 20% 70% 10%;
    grid-template-columns: 10% 90%;
}
  
#page > header {
    grid-area: head;
    background-color: #a9acbd;
    text-align: center;
    padding-top: 60px;
    font-size: larger;
}
  
#page > nav {
    grid-area: nav;
    background-color: #adadad;
    text-align: center;
}
  
#page > main {
    grid-area: main;
    background-color: #ffff64;
}
  
#page > footer {
    grid-area: foot;
    background-color: #000000;
    margin: 0;
}

.links a {
    display: block;
    font-size: large;
    padding: 10px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    height: 570px;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: black;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: black;
}

.fl-table tr:nth-child(even) {
    background: #edeaea;
}
