body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table {
  border: 3px solid black;
  table-layout: fixed;
  width: 1000px;
  grid-row: 2;
  grid-column: 2;
}

th,td {
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}


.tableHeader{
  background-color: yellow;
}

.sidebar {
  width: 200px;
  height: 100vh;
  color: black;
  box-sizing: border-box;
  padding-left: 20px;
}

.sidebar a {
  display: block;
  color: black;
  grid-area: sidebar;
}

.container {
  display: grid;
  grid-template-columns: 200px 1fr; /* Sidebar width is 200px, main content takes the rest */
  grid-template-rows: auto 1fr; /* Header height is auto, main content and sidebar take the rest */
  grid-template-areas:
      "header header"
      "sidebar main";
  height: 100vh;
}

.read-me{
  border: solid black;
  margin-top: 20px;
  margin-left: 225px;
  margin-right: 225px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  grid-area: header;
  padding: 15px;
  text-align: center;
}

.main-content {
  grid-area: main;
  background-color: #fff;
  padding: 15px;
  margin-left: 30px;
}

#CSC209 {
  font-size: 30px;
  color: blue;
}

#logo {
  height: 100px; 
  width:  500px;
}

