#myCanvas{
    height: 400px;
    width:400px;
    background: rgb(140, 140, 140);
    position: relative;
}

.options{
    display: flex;
    flex-direction: column;
}

.buttons{
    padding-top: 20px;
    padding-bottom: 20px;
}

.more-buttons{
    padding-bottom: 20px;
}